
Chat
CHATT
Hitta någon att chatta med hjälp av filterrutan ovan.
RUM

EE19-ar2Rum
BOTTAR
Botar automatiserar uppgifter eller skickar aktuella uppdateringar.
ONSDAG, 18 NOV.
Max Rosberg Somerlock. . 18 nov., 12:44. Uppdaterades senast: 18 nov., 13:23. 5 svar
Följ
Max Rosberg Somerlock
,
18 nov., 12:44
,
Adjustments.plist
,18 nov., 12:44,
William Ekström
,
18 nov., 12:46
,
uppgift8.JPG
,18 nov., 12:46,
Luciano Cucarano
,
18 nov., 13:16
,
image.png
,18 nov., 13:16,
Luciano Cucarano
,
18 nov., 13:19
,
Bättre?
image.png
,18 nov., 13:19,
Julius Kindbom
,
18 nov., 13:23
,
image.png
,18 nov., 13:23,
Svara
TORSDAG, 19 NOV.
Albin Heidenberg. . 14 okt., 12:59. Uppdaterades senast: 19 nov., 16:25. 65 svar
Följ
Albin Heidenberg
,
14 okt., 12:59
,
image.png
,14 okt., 12:59,
7
Olegas Sevcenko
,
21 okt., 12:57
,
Måste bara göra spacing mellan varje column neråt
image.png
,21 okt., 12:57,
Olegas Sevcenko
,
21 okt., 13:00
,
Förstår inte varför den är vertikalt och inte horizontalt som vanligt
image.png
,21 okt., 13:00,
Olegas Sevcenko
,
21 okt., 13:03
,
Här klar
image.png
,21 okt., 13:03,
Karim Ryde
,
4 nov., 09:54
,
https://docs.google.com/document/d/1f3NGKJHOShvJ7AWeyvlaRyYfDIIldKVj08MBTHzSEEw/edit#heading=h.wfzj647y10p5
Höstprojektet 20/21
Höstprojektet 20/21
,4 nov., 09:54,
Olegas Sevcenko
,
18 nov., 12:25
,
image.png
,18 nov., 12:25,
Tobias Riiser
,
18 nov., 12:25
,
Nytt
image.png
,18 nov., 12:25,
Nytt
Jacob Hanson
,
18 nov., 12:27
,
Nytt
image.png
,18 nov., 12:27,
Nytt
Olegas Sevcenko
,
18 nov., 12:28
,
Nytt
glömde addera 35 i formeln
image.png
,18 nov., 12:28,
Nytt
oops
,18 nov., 12:28,
Nytt
igen fel
,18 nov., 12:28,
Nytt
Pontus Pålsson
,
18 nov., 12:30
,
Nytt
image.png
,18 nov., 12:30,
Nytt
Julius Kindbom
,
18 nov., 12:30
,
Nytt
image.png
,18 nov., 12:30,
Nytt
Luciano Cucarano
,
18 nov., 12:32
,
Nytt
image.png
,18 nov., 12:32,
Nytt
Viktor Larson
,
18 nov., 12:33
,
Nytt
image.png
,18 nov., 12:33,
Nytt
Mikael Tukue
,
18 nov., 12:37
,
Nytt
image.png
,18 nov., 12:37,
Nytt
William Eklund
,
18 nov., 12:37
,
Nytt
Skärmbild (27).png
,18 nov., 12:37,
Nytt
William Ekström
,
18 nov., 12:38
,
Nytt
Uppgift7.JPG
,18 nov., 12:38,
Nytt
Tobias Riiser
,
18 nov., 12:39
,
Nytt
image.png
,18 nov., 12:39,
Nytt
Pontus Pålsson
,
18 nov., 12:41
,
Nytt
image.png
,18 nov., 12:41,
Nytt
vet inte om dehär är rätt
,18 nov., 12:41,
Nytt
Olegas Sevcenko
,
18 nov., 12:42
,
Nytt
uppgift 8
image.png
,18 nov., 12:42,
Nytt
Pontus Pålsson
,
18 nov., 12:42
,
Nytt
image.png
,18 nov., 12:42,
Nytt
Viktor Larson
,
18 nov., 12:43
,
Nytt
image.png
,18 nov., 12:43,
Nytt
Albin Heidenberg
,
18 nov., 12:43
,
Nytt
image.png
,18 nov., 12:43,
Nytt
Olegas Sevcenko
,
18 nov., 12:49
,
Nytt
uppgift 9
image.png
,18 nov., 12:49,
Nytt
William Eklund
,
18 nov., 12:54
,
Nytt
Skärmbild (30).png
,18 nov., 12:54,
Nytt
Isam Al Bitar
,
18 nov., 12:56
,
Nytt
image.png
,18 nov., 12:56,
Nytt
Luciano Cucarano
,
18 nov., 13:04
,
Nytt
image.png
,18 nov., 13:04,
Nytt
Pontus Pålsson
,
18 nov., 13:06
,
Nytt
image.png
,18 nov., 13:06,
Nytt
Viktor Larson
,
18 nov., 13:07
,
Nytt
image.png
,18 nov., 13:07,
Nytt
William Eklund
,
18 nov., 13:08
,
Nytt
Skärmbild (31).png
,18 nov., 13:08,
Nytt
Pontus Pålsson
,
18 nov., 13:15
,
Nytt
image.png
,18 nov., 13:15,
Nytt
Pontus Pålsson
,
18 nov., 13:21
,
Nytt
image.png
,18 nov., 13:21,
Nytt
Viktor Larson
,
18 nov., 13:23
,
Nytt
image.png
,18 nov., 13:23,
Nytt
Olegas Sevcenko
,
18 nov., 13:24
,
Nytt
uppgift 10
image.png
,18 nov., 13:24,
Nytt
William Eklund
,
18 nov., 13:59
,
Nytt
Skärmbild (33).png
,18 nov., 13:59,
Nytt
Karim Ryde
,
19 nov., 15:25
,
Nytt
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background: #F9F6EB;
}
.kontainer {
    width: 600px;
    padding: 2em;
    margin: 3em auto;
    background: #fff;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ddd;
    box-shadow: 0 0 12px #f0e9d1;
}
.kontainer #myCanvas {
    border: 1px solid;
}
.kol2 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}
.kol3 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
}
.kol8 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 1em;
}
.kontainer label {
    text-align: right;
    align-self: center;
    font-size: 0.9em;
}
.kontainer input, .kontainer textarea {
    padding: 0.7em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    font-weight: bold;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
.kontainer textarea {
    height: 5em;
    width: 100%;
}
.kontainer button {
    margin: 1em 0;
    padding: 0.7em;
    border-radius: 0.3em;
    border: none;
    font-weight: bold;
    color: #FFF;
    background-color: #55a5d2;
    cursor: pointer;
}
.kontainer h1, .kontainer h2, .kontainer h3 {
    margin: 0.5em 0;
}
.kontainer p {
    background: #FFF;
    padding: 5px;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.kontainer .hogt {
    background: rgb(255, 190, 190);
}
.kontainer .lagt {
    background: rgb(218, 255, 162);
}
.kontainer .dum {
    background: rgb(216, 0, 0);
}
.kontainer .yipee {
    background: #283f82;
    color: #FFF;
    margin-top: 10px;
}
.kontainer .output {
    background: #FFF;
    padding: 5px;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
.kontainer img {
    width: 100%;
    background: #FFF;
    padding: 20px;
}
.kontainer .fa {
    display: inline;
    cursor: pointer;
}
.kontainer .animated {
    display: none;
}
.kontainer .visa {
    display: block;
}

.kontainer #bildruta {
    width: 100%;
    height: 460px;
    background: #f3f3f3;
    text-align: center;
    padding: 5px;
}
.kontainer #bildruta img {
    width: 300px;
    padding: 0;
    border: 6px solid #d8c96e;
    border-radius: 10px;
}
.kontainer img.miniatyr {
    padding: 0;
    border: 1px solid salmon;
    cursor: pointer;
}
,19 nov., 15:25,
Nytt
Luciano Cucarano
,
19 nov., 15:33
,
Nytt
image.png
,19 nov., 15:33,
Nytt
Tobias Riiser
,
19 nov., 15:56
,
Nytt
image.png
,19 nov., 15:56,
Nytt
image.png
,19 nov., 15:56,
Nytt
Olegas Sevcenko
,
19 nov., 15:58
,
Nytt
Gjorde inte uppgiften än men det är också bra som en prank
,19 nov., 15:58,
Nytt
image.png
,19 nov., 15:58,
Nytt
Okk
,19 nov., 15:58,
Nytt
Mikael Tukue
,
19 nov., 15:59
,
Nytt
image.png
,19 nov., 15:59,
Nytt
Jacob Hanson
,
19 nov., 16:00
,
Nytt
image.png
,19 nov., 16:00,
Nytt
William Eklund
,
19 nov., 16:00
,
Nytt
Skärmbild (34).png
,19 nov., 16:00,
Nytt
Julius Kindbom
,
19 nov., 16:00
,
Nytt
image.png
,19 nov., 16:00,
Nytt
Olegas Sevcenko
,
19 nov., 16:00
,
Nytt
()
,19 nov., 16:00,
Nytt
Pontus Pålsson
,
19 nov., 16:01
,
Nytt
image.png
,19 nov., 16:01,
Nytt
Tobias Riiser
,
19 nov., 16:02
,
Nytt
image.png
,19 nov., 16:02,
Nytt
Luciano Cucarano
,
19 nov., 16:05
,
Nytt
c;
image.png
,19 nov., 16:05,
Nytt
Pontus Pålsson
,
19 nov., 16:05
,
Nytt
image.png
,19 nov., 16:05,
Nytt
Tobias Riiser
,
19 nov., 16:12
,
Nytt
image.png
,19 nov., 16:12,
Nytt
Tobias Riiser
,
19 nov., 16:16
,
Nytt
image.png
,19 nov., 16:16,
Nytt
Pontus Pålsson
,
19 nov., 16:20
,
Nytt
image.png
,19 nov., 16:20,
Nytt
Jacob Hanson
,
19 nov., 16:20
,
Nytt
image.png
,19 nov., 16:20,
Nytt
Viktor Larson
,
19 nov., 16:20
,
Nytt
image.png
,19 nov., 16:20,
Nytt
Luciano Cucarano
,
19 nov., 16:22
,
Nytt
image.png
,19 nov., 16:22,
Nytt
William Eklund
,
19 nov., 16:23
,
Nytt
Skärmbild (35).png
,19 nov., 16:23,
Nytt
Isam Al Bitar
,
19 nov., 16:23
,
Nytt
image.png
,19 nov., 16:23,
Nytt
Mikael Tukue
,
19 nov., 16:24
,
Nytt
image.png
,19 nov., 16:24,
Nytt
Olegas Sevcenko
,
19 nov., 16:25
,
Nytt
image.png
,19 nov., 16:25,
Nytt
Svara
Rummet har uppdaterats:Karim Ryde lade till Alexander Lofjärd
Rummet har uppdaterats:Karim Ryde lade till Anneli Westman
I DAG
2 olästa. Max Rosberg Somerlock. Skicka meet länken. 20 nov., 09:03. Uppdaterades senast: En min. 195 svar
Följer
Max Rosberg Somerlock
,
20 nov., 09:03
,
Skicka meet länken
,20 nov., 09:03,
99+
Isam Al Bitar
,
4 min
,
image.png
,4 min,
Karim Ryde
,
3 min
,
En liten uppgift
,3 min,
Karim Ryde
,
En min
,
Nytt
summa.html
,En min,
Nytt
style.css
,En min,
Nytt
▲
Svara
Ny tråd i EE19-ar2Rum

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background: #F9F6EB;
}
.kontainer {
    width: 600px;
    padding: 2em;
    margin: 3em auto;
    background: #fff;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ddd;
    box-shadow: 0 0 12px #f0e9d1;
}
.kontainer #myCanvas {
    border: 1px solid;
}
.kol2 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}
.kol3 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
}
.kol8 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 1em;
}
.kontainer label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px 0;
    padding: 0;
}
.kontainer input, .kontainer textarea {
    padding: 0.7em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    font-weight: bold;
    box-shadow: inset 0 2px 2px #0000001a;
}
.kontainer textarea {
    height: 10em;
    width: 100%;
}
.kontainer button {
    margin: 1em 0;
    padding: 0.7em;
    border-radius: 0.3em;
    border: none;
    font-weight: bold;
    color: #FFF;
    background-color: #55a5d2;
    cursor: pointer;
}
.kontainer h1, .kontainer h2, .kontainer h3 {
    margin: 0.5em 0;
}
.kontainer p {
    background: #FFF;
    padding: 5px;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.kontainer .hogt {
    background: #ffbebe;
}
.kontainer .lagt {
    background: #daffa2;
}
.kontainer .dum {
    background: #d80000;
}
.kontainer .yipee {
    background: #283f82;
    color: #FFF;
    margin-top: 10px;
}
.kontainer .output {
    background: #FFF;
    padding: 5px;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
.kontainer img {
    width: 100%;
    background: #FFF;
    padding: 20px;
}
.kontainer .fa {
    display: inline;
    cursor: pointer;
}
.kontainer .animated {
    display: none;
}
.kontainer .visa {
    display: block;
}
.kontainer #bildruta {
    width: 100%;
    height: 460px;
    background: #f3f3f3;
    text-align: center;
    padding: 5px;
}
.kontainer #bildruta img {
    width: 300px;
    padding: 0;
    border: 6px solid #d8c96e;
    border-radius: 10px;
}
.kontainer img.miniatyr {
    padding: 0;
    border: 1px solid salmon;
    cursor: pointer;
}

/* blinking cursor */
#cursor {
    background: lime;
    line-height: 17px;
    margin-left: 3px;
    animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
}

@keyframes blink {
    0% {
        background: #222
    }
    50% {
        background: lime
    }
    100% {
        background: #222
    }
}
style.css
Visar style.css.